.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
}
.page__wrap {
  padding-bottom: 100px;
  background: #ffffff;
}
.page__wrap--light {
  background: #ffffff;
}
.page__wrap--dark {
  background: #616161;
}
.darkTheme {
  background: #616161;
}
.lightTheme {
  background-color: red;
}
.lightTheme {
  background-color: #fff;
  color: #000;
}
.darkTheme {
  background-color: #333;
  color: #fff;
}
