.cardItemWrap {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  background: rgb(58, 202, 149);
  box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.5);
}
.cardItemId {
  text-align: center;
  text-decoration: underline;
}
.cardItemTitle {
  font-weight: 700;
  text-align: center;
}
.cardItemInfoItem span {
  font-weight: 700;
}
.cardItemBtn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='20.000000' height='20.000000' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip51_14140'%3E%3Crect id='Close' width='10.000000' height='10.000000' transform='translate(5.000000 5.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Crect id='Rectangle 1757' rx='10.000000' width='20.000000' height='20.000000' fill='%232D84FB' fill-opacity='1.000000'/%3E%3Cg clip-path='url(%23clip51_14140)'%3E%3Cpath id='path' d='M6.16 7.19L6.13 7.19C5.83 6.89 5.83 6.43 6.13 6.13C6.43 5.83 6.89 5.83 7.19 6.13L7.19 6.16L6.16 7.19ZM13.83 12.8L13.86 12.8C14.15 13.09 14.15 13.56 13.86 13.86C13.56 14.16 13.09 14.16 12.8 13.86L12.8 13.83L13.83 12.8Z' fill='%23000000' fill-opacity='0' fill-rule='nonzero'/%3E%3Cpath id='path' d='M6.66 6.66L13.33 13.33' stroke='%23FFFFFF' stroke-opacity='1.000000' stroke-width='1.500000' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath id='path' d='M7.19 13.83L7.19 13.86C6.89 14.16 6.43 14.16 6.13 13.86C5.83 13.56 5.83 13.1 6.13 12.8L6.16 12.8L7.19 13.83ZM12.8 6.16L12.8 6.13C13.09 5.83 13.56 5.83 13.86 6.13C14.15 6.43 14.15 6.9 13.86 7.19L13.83 7.19L12.8 6.16Z' fill='%23000000' fill-opacity='0' fill-rule='nonzero'/%3E%3Cpath id='path' d='M6.66 13.33L13.33 6.66' stroke='%23FFFFFF' stroke-opacity='1.000000' stroke-width='1.500000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.cardItemBtn:hover {
  transition: all 0.3s ease;
  opacity: 0.6;
}
.cardItemImage {
  margin-right: 16px;
}
.cardItemImage img {
  max-height: 400px;
  border-radius: 10px;
}
.cardItemRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.cardItemWrap.light {
  background: rgb(58, 202, 149);
}
.cardItemWrap.dark {
  color: #ffffff;
  background-color: #1e1d1d;
}