.header {
  background-color: #2c7dfb;
}
.header nav a {
  margin-right: 16px;
  color: #ffffff;
  text-decoration: none;
}
.header nav a:hover {
  color: #fecd27;
}
.header nav a:last-child {
  margin-right: 0;
}
