.search__form {
  display: flex;
  justify-content: center;
}
.search__input {
  display: block;
  max-width: 400px;
  margin-right: 5px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgb(32, 45, 57);
  background-color: #f3f4f8;
  color: rgb(32, 45, 57);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -3%;
  text-align: left;
}
.search__button {
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
  background: aqua;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -3%;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0px 6.6px 4.7px 0px rgba(26, 43, 59, 0.03);
  background: rgb(58, 202, 149);
}
.search__button:hover {
  background-color: #000000;
}
